@charset "utf-8";
/* CSS Document */

.header-main{
	display: grid;
	grid-template-columns: 15% 58% 16% 11%;
	grid-template-rows: 70px 23px;
}

.logo-site{
	grid-row: 1;
	grid-column: 1;
	background-color: #FFFF00;
}

.search-bar{
	grid-row: 1;
	grid-column: 2;
	background-color: #33CC99;
}

.user{
	grid-row: 1;
	grid-column: 3;
	background-color: #CC6600;
}

.bag{
	grid-row: 1;
	grid-column: 4;
	background-color: #CC0000;
}

.search-suggestion{
	grid-row: 2;
	grid-column-start: 1;
	grid-column-end: 3;
	background-color: #330099;
}


.body-site{
	display: grid;
	grid-template-columns: 15% 22% 21% 21% 21%;
	grid-template-rows: 80px 60px 340px;
}

.menu-lateral{
	grid-column: 1;
	grid-row-start: 1;
	grid-row-end: 4;
	background-color: #993300;
}

.titulo-pesquisa{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: 1;
    background-color: #223300;
}

.feedback-produtos{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: 2;
    background-color: #11F300;
}

.box-result1{
    grid-row: 3;
    grid-column: 2;
    background-color: #bf02e5;
}

.box-result2{
    grid-row: 3;
    grid-column: 3;
    background-color: #9000ad;
}

.box-result3{
    grid-row: 3;
    grid-column: 4;
    background-color: #630077;
}

.box-result4{
    grid-row: 3;
    grid-column: 5;
    background-color: #3b0047;
}